html { height: 100%; }
body {
    background: rgb(2, 0, 36);
    background: linear-gradient(0deg, #090979 0%, #00d4ff 100%);
    text-align: center;
    color: crimson;
    font-family: "Kanit", sans-serif;
  
}
h1 { font-size: 10rem; margin; 10rem 0;}
p { font-size: 2rem; }
